{% extends "core/base.html" %}

{% block title %}Create Post{% endblock %}

{% block content %}
<div class="text-black flex items-center justify-center h-screen">
  <form method="POST" enctype="multipart/form-data" class="bg-white p-6 rounded-lg shadow-md w-full max-w-md">
    <h2 class="text-2xl font-bold mb-4 text-center">Create Post</h2>
    {% csrf_token %}

    {% if messages %}
      {% for message in messages %}
        <p class="text-sm text-green-500 mb-2">{{ message }}</p>
      {% endfor %}
    {% endif %}

    {{ form.as_p }}

    <button type="submit" class="w-full mt-2 bg-blue-500 text-white py-2 rounded hover:bg-blue-600">
      Post
    </button>
  </form>
</div>
{% endblock %}
